<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/add_company_styles.css">
    <title>Cadastro de Empresas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navigation_link" href="{{ url_for('home') }}">Empresas</a></li>
                <li><a class="navigation_link" href="setores.html">Setores</a></li>
                <li><a class="navigation_link"  href="#">Relatórios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="tela_cadastro">
            <h1>Cadastre a Empresa</h1>
        <form action="{{ url_for('cadastro') }}" method="post">
            <label for="rsocial">Razão Social:</label><br>
            <input type="text" id="razao_social" name="razao_social"><br>
            <label for="nfant">Nome Fantasia:</label><br>
            <input type="text" id="nome_fantasia" name="nome_fantasia"><br>
            <label for="cnpj">CNPJ:</label><br>
            <input type="text" id="cnpj" name="cnpj"><br>
            <button>Adicionar</button>
        </form>
        </section>
    </main>
</body>
</html>