<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/add_set.css">
    <title>Cadastro de Setor</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navigation_link" href="home.html">Empresas</a></li>
                <li><a class="navigation_link" href="setores.html">Setores</a></li>
                <li><a class="navigation_link"  href="#">Relatórios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="tela_cadastro">
            <h1>Cadastre a Empresa</h1>
            <label for="rsocial">Empresa: </label><br>
            <input type="text" id="rsocial" name="rsocial"><br>
            <label for="nfant">Novo Setor:</label><br>
            <input type="text" id="nfant" name="nfant"><br>
            <label for="cnpj">Descrição:</label><br>
            <input class="description" type="text" id="cnpj" name="cnpj"><br>
            <button>Adicionar</button>
        </section>
    </main>   
</body>
</html>