<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/add_company_styles.css">
    <title>Cadastro de Empresas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navigation_link" href="{{ url_for('home') }}">Empresas</a></li>
                <li><a class="navigation_link" href="setores.html">Setores</a></li>
                <li><a class="navigation_link"  href="#">Relatórios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="tela_cadastro">
            <h1>Editar Empresa</h1>
        <form method="post" action="{{ url_for('editar', id=datas.idempresas) }}" >
              <label for="rsocial">Razão Social:</label><br>
              <input type="text"  name="razao_social" value="{{ datas.razao_social }}"><br>
              <label for="nfant">Nome Fantasia:</label><br>
              <input type="text"  name="nome_fantasia" value="{{ datas.nome_fantasia }}"><br>
              <label for="cnpj">CNPJ:</label><br>
              <input type="text"  name="cnpj" value="{{ datas.cnpj }}"><br>
              <button type="submit">Editar</button>
        </form>
        </section>
    </main>
</body>
</html>