<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/set_styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navigation_link" href="home.html">Empresas</a></li>
                <li><a class="navigation_link" href="#">Setores</a></li>
                <li><a class="navigation_link"  href="#">Relatórios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <button><a class="foradd_link" href="add_set.html">Add Nova Setor</a></button>
        </section>
        <section>
            <table align="center" class="home_table">
                <tr class="home-table_header">
                    <th>Empresa</th>
                    <th>Setor</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td>Conveniencia Empório M&M</td>
                    <td>Financeiro</td>
                    <td>Responsável por admnistrar as finanças da empresa.</td>
                </tr>
                <tr>
                    <td>Mercado Claudia</td>
                    <td>Claudia Carvalho</td>
                    <td>111111111/1112-0</td>
                </tr>
            </table>
        </section>        
    </main>
</body>
</html>